<!DOCTYPE html>
<html>

<head>
<title>Smart Crop Advisory System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>🌾 Smart Crop Advisory System</h1>

<form action="/predict" method="post">

<label>Soil Type</label>

<select name="soil">
<option value="clay">Clay</option>
<option value="sandy">Sandy</option>
<option value="loamy">Loamy</option>
</select>

<br><br>

<label>Temperature (°C)</label>
<input type="number" name="temperature">

<br><br>

<label>Rainfall (mm)</label>
<input type="number" name="rainfall">

<br><br>

<input type="submit" value="Get Recommendation">

</form>

</body>

</html>